<!-- _includes/documentation_nav.html -->

<div class="ontoportal-tabs" id="ontoportal_tabs">
    {% assign portals = 'ontoportal,agroportal,ecoportal' | split: ',' %}
    {% for portal in portals %}
        {% capture portal_class %}{{ portal }}{% endcapture %}
        {% if include.portal == portal %}
            <a class="tab-item active {{ portal_class }}" href="{{ portal }}">
                {% include ontoportal_logo.svg %}
                {{ portal | capitalize }}
            </a>
        {% else %}
            <a class="tab-item {{ portal_class }}" href="{{ portal }}">
                {% include ontoportal_logo.svg %}
                {{ portal | capitalize }}
            </a>
        {% endif %}
    {% endfor %}
</div>
