.ontoportal-tabs{
    display: flex;
}

.ontoportal-tabs > a{
    margin-top: 10px;
    margin-right: 30px;
    cursor: pointer;
    font-size: 15px;
    display: flex;
    align-items: center;
    padding: 0 2px 0px 2px;
    opacity: 80%
}
.ontoportal-tabs > a svg {
    width: 20px;
    height: 20px;
}
.ontoportal-tabs > .OntoPortal{
    color: $ontoportal-color;
    border-bottom: 1px solid #e7e7e7;
}
.ontoportal-tabs > .BioPortal{
    color: $bioportal-color;
    border-bottom: 1px solid #e7e7e7;
}
.ontoportal-tabs > .AgroPortal{
    color: $agroportal-color;
    border-bottom: 1px solid #e7e7e7;
}
.ontoportal-tabs > .EarthPortal{
    color: $earthportal-color;
    border-bottom: 1px solid #e7e7e7;
}
.ontoportal-tabs > .EcoPortal{
    color: $ecoportal-color;
    border-bottom: 1px solid #e7e7e7;
}
.ontoportal-tabs > .OntoPortal svg path{
    fill: $ontoportal-color;
}
.ontoportal-tabs > .BioPortal svg path{
    fill: $bioportal-color;
}
.ontoportal-tabs > .AgroPortal svg path{
    fill: $agroportal-color;
}
.ontoportal-tabs > .EarthPortal svg path{
    fill: $earthportal-color;
}
.ontoportal-tabs > .EcoPortal svg path{
    fill: $ecoportal-color;
}
.ontoportal-tabs > a svg{
    margin-right: 10px;
}
.ontoportal-tabs > .active{
    opacity: 100%;
    font-weight: 500; 
}
.ontoportal-tabs > .active.OntoPortal{
    border-bottom: 2px solid $ontoportal-color;
}
.ontoportal-tabs > .active.BioPortal{
    border-bottom: 2px solid $bioportal-color;
}
.ontoportal-tabs > .active.AgroPortal{
    border-bottom: 2px solid $agroportal-color;
}
.ontoportal-tabs > .active.EarthPortal{
    border-bottom: 2px solid $earthportal-color;
}
.ontoportal-tabs > .active.EcoPortal{
    border-bottom: 2px solid $ecoportal-color;
}